
@media (max-width:1024px) {
  .container{
    max-width: 970px;
  }
}
@media (max-width:768px) {
    .container{
      max-width: 650px;
    }
    .menus{
      width: 100%;
      height: 0;
      background: var(--bg-color);
      position: fixed;
      top: 0;
      left: 0;
      transition: 0.5s;
      z-index: 99;
      top: -100%;
  
    }
    .homeContent{
      width: 100%;
    }
    .homeImg{
      width: 100%;
    }
    .flexCol{
      flex-direction: column;
    }

    .menus.activeMenu{
      top: 0;
      height: 100vh;
      
    }
    .menus ul{
      flex-direction: column;
      height: 100vh;
    }
    .menus ul li{
      margin-top: 20px;
    }
    .mobileMenu{
      width: 40px;
      display: flex;
      height: 40px;
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }
    
   
}


@media (max-width:425px) {
  .container{
    max-width: 400px;
  }
  footer h3{
    font-size: 14px;
  }
}

@media (max-width:375px) {
  .container{
    max-width: 320px;
  }
}

@media (max-width:320px) {
  .container{
    max-width: 250px;
  }
  .serviceBox{
    width: 200px;
  }
}

@media (max-width:280px) {
  .container{
    max-width: 220px;
  }
}